<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spider-Man Movies</title>
</head>
<body>
    <h1>Spider-Man Movies</h1>
        <% for (let i = 0; i < Spider-ManData.Search.length; i++)  { %>
            <% const movie = Spider-ManData.Search[i] %>
            <h2><%= movie.Title %></h2>
            <br>
            <img src = "<%= movie.Poster %>" alt = "<%= movie.Title %>" />
        <%}%>
</body>
</html>